@model IEnumerable<BancoQuestoes.Models.Arquivo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Arquivos";
}

<div class="home-container period-page">

    <a asp-controller="Materia"
       asp-action="PorPeriodo"
       asp-route-periodo="@ViewBag.Periodo"
       class="back-btn">

        <i class="bi bi-arrow-left"></i>
        Voltar para matérias

    </a>

    <div class="period-header">

        <div class="period-header-icon">
            <i class="bi bi-file-earmark-pdf"></i>
        </div>

        <div class="period-header-text">

            <h1>Arquivos da Matéria</h1>

            <p>
                Arquivos disponíveis para download
            </p>

        </div>

    </div>

    <div class="periods-grid">

        @foreach (var item in Model)
        {
            <div class="period-box">

                <div class="period-number">
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </div>

                <h3>@item.Titulo</h3>

                <div class="period-info">

                    <i class="bi bi-book"></i>

                    <span>
                        @item.Materia?.Nome
                    </span>

                </div>

                <div class="period-info">

                    <i class="bi bi-person"></i>

                    <span>
                        @item.Professor
                    </span>

                </div>

                <div class="period-info">

                    <i class="bi bi-body-text"></i>

                    <span>
                        @item.Descricao
                    </span>

                </div>

                <a asp-controller="Arquivo"
                   asp-action="Download"
                   asp-route-id="@item.Id"
                   class="period-link">

                    Download
                    <i class="bi bi-download"></i>

                </a>

            </div>
        }

       
    </div>
    <footer class="footer-comments">

        <div class="footer-comments-content">

            <div class="comment-header">

                <div class="comment-title">
                    <i class="bi bi-chat-dots"></i>
                    <span>Comentários</span>
                </div>

                <p class="comment-subtitle">
                    Deixe aqui suas dúvidas para outros colegas
                </p>

            </div>

            <div class="comment-empty">

                <i class="bi bi-chat comment-icon"></i>

                <p class="comment-text">
                </p>

            </div>

        </div>

    </footer>
</div>