@model IEnumerable<BancoQuestoes.Models.TipoArquivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de arquivo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoArquivoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoArquivoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoArquivoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
